---
title: 横スクロールと現在地
---
= javascript_include_tag "ui/horizontal_scroll"

%h1 横スクロールと現在地

https://ics.media/entry/190902/

.steps
  .steps__step 1つめ
  .steps__step 2つめ
  .steps__step 3つめ
  .steps__step 4つめ
  .steps__step 5つめ
  .steps__step 6つめ
  .steps__step 7つめ
  .steps__step 8つめ

.horizontal-scroll
  #observerArea.horizontal-scroll__mask
    .horizontal-scroll__list
      .horizontal-scroll__item{ data: { step: 1 } }
        ねこです 1
        %br
        %img{ src: "https://placekitten.com/g/640/480", alt: "" }
      .horizontal-scroll__item{ data: { step: 2 } }
        ねこです 2
        %br
        %img{ src: "https://placekitten.com/640/480", alt: "" }
      .horizontal-scroll__item{ data: { step: 3 } }
        ねこです 3
        %br
        %img{ src: "https://placekitten.com/g/640/480", alt: "" }
      .horizontal-scroll__item{ data: { step: 4 } }
        ねこです 4
        %br
        %img{ src: "https://placekitten.com/640/480", alt: "" }
      .horizontal-scroll__item{ data: { step: 5 } }
        ねこです 5
        %br
        %img{ src: "https://placekitten.com/g/640/480", alt: "" }
      .horizontal-scroll__item{ data: { step: 6 } }
        ねこです 6
        %br
        %img{ src: "https://placekitten.com/640/480", alt: "" }
      .horizontal-scroll__item{ data: { step: 7 } }
        ねこです 7
        %br
        %img{ src: "https://placekitten.com/g/640/480", alt: "" }
      .horizontal-scroll__item{ data: { step: 8 } }
        ねこです 8
        %br
        %img{ src: "https://placekitten.com/640/480", alt: "" }