---
title: グローバルメニュー2
---
= javascript_include_tag "ui/global_menu2"

.global-menu2
  .global-menu2__item{ aria: { expanded: 'true' } }
    %span メニュー
  .global-menu2__inside
    .global-menu2__inside-tem アイテム
    .global-menu2__inside-tem アイテムアイテム
    .global-menu2__inside-tem アイテム
    .global-menu2__inside-tem アイテム
    .global-menu2__inside-tem アイテム
    .global-menu2__inside-tem アイテム
    .global-menu2__inside-tem アイテム
    .global-menu2__inside-tem 