---
title: グローバルメニュー2
---
= javascript_include_tag "ui/global_menu2"

.global-menu2
  .global-menu2__item{ aria: { expanded: 'true' } }
    %span メニュー1
  .global-menu2__inside
    .global-menu2__inside-item 1アイテム
    .global-menu2__inside-item 2アイテムアイテム
    .global-menu2__inside-item 3アイテム
    .global-menu2__inside-item 4アイテム
    .global-menu2__inside-item 5アイテム
    .global-menu2__inside-item 6アイテム
    .global-menu2__inside-item 7アイテム
    .global-menu2__inside-item 8アイテム
    .global-menu2__inside-item 9アイテム
    .global-menu2__inside-item 10アイテム
    .global-menu2__inside-item 11アイテム
    .global-menu2__inside-item 
  .global-menu2__item{ aria: { expanded: 'false' } }
    %span メニュー2
  .global-menu2__item{ aria: { expanded: 'false' } }
    %span メニュー3