---
title: DnD
---
= javascript_include_tag "ui/dnd"

%h1 ドラッグ & ドロップ

.menu-list
  .menu-list__menu{ draggable: "true" }
    %span.menu-list__menu-label 唐揚げ 0
  .menu-list__menu{ draggable: "true" }
    %span.menu-list__menu-label えだ豆 1
  .menu-list__menu{ draggable: "true" }
    %span.menu-list__menu-label 冷やしトマト 2
  .menu-list__menu{ draggable: "true" }
    %span.menu-list__menu-label キムチ 3