---
title: github
---

.tasks
  #github_issues
  %a.task
    .task__user
    .task__body
      %h2.task__headline 
        %span.task__headline-title 読み込み中...
      .task__information
    .task__comment
      %span.material-icons.task__comment-icon push_pin