.tasks
  %a.task{ href: "#", data: { state: "open" }, aria: { selected: "false" } }
    .task__user
      %img.task__user-avatar{ src: "https://avatars0.githubusercontent.com/u/12642?v=4" }
    .task__body
      %h2.task__headline 
        %span.task__headline-title Allow ISO 8601 formatted string for `fast_string_to_time`
      .task__information
        .task__information-state open
        .task__information-number #39676
        .task__information-created-at 2020-06-20T01:59:55Z
        .task__information-user-name kamipo
    .task__comment
      %span.material-icons.task__comment-icon push_pin

  %a.task{ href: "#", data: { state: "open" }, aria: { selected: "true" } }
    .task__user
      %img.task__user-avatar{ src: "https://avatars0.githubusercontent.com/u/12642?v=4" }
    .task__body
      %h2.task__headline 
        %span.task__headline-title Allow ISO 8601 formatted string for `fast_string_to_time`
      .task__information
        .task__information-state open
        .task__information-number #39676
        .task__information-created-at 2020-06-20T01:59:55Z
        .task__information-user-name kamipo
    .task__comment
      %span.material-icons.task__comment-icon push_pin

  %a.task{ href: "#", data: { state: "close" } }
    .task__user
      %img.task__user-avatar{ src: "https://avatars0.githubusercontent.com/u/12642?v=4" }
    .task__body
      %h2.task__headline 
        %span.task__headline-title Allow ISO 8601 formatted string for `fast_string_to_time`
      .task__information
        .task__information-state close
        .task__information-number #39676
        .task__information-created-at 2020-06-20T01:59:55Z
        .task__information-user-name kamipo
    .task__comment
      %span.material-icons.task__comment-icon push_pin